body{	
    margin: 0;
	padding: 0;
    /*background-image: url(../images/background-photo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
    background-color: #778899; /*#D3D3D3*/
    font-family: Calibri;
}

div.home {    
    height: 50px;
    width: 130px;
    /*position: absolute;
    top: 1%;
    left: 1%; */  
}
    div.home a{
        display: block;
        height: 100%;
        width: 100%;
        background-image:url(../images/logo.jpg);   
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

#forbody{   
	padding: 5% 5%;	
}   
    /* 
    #form_subscrib{
        position: absolute;
        top: 15%;
        left: 5%;
        min-width: 60%;
    }*/
   
    
    input.input_email{
        margin-bottom: 20px; 
        height: 30px;
        min-width: 40%;
        padding: 0 10px;
        border: 1px solid #FFF;  /*#FF6A6A*/
        border-radius: 3px;
        background: #FFF;
    } 
    
    input::-webkit-input-placeholder {
        color: #C0C0C0;
    }          
        
    input.input_email:focus{
        border: 1px solid #FFF;
        border-radius: 3px;
        box-shadow: 0px 0px 15px #FFF;
        outline: none;
    }
    
    input.submit_subscrib{
	    font-size: 15px;
        font-weight: bold;
        height: 31px;
        min-width: 10%;
        border: 0.1px solid #FFF;
        border-radius: 5px;
        background-color: white;                 
        color: #FF6A6A; 
        outline: none;                
    }
    
    input.submit_subscrib:hover{
        background-color: #FF6A6A;
        border-color: #FF6A6A;
        color: #fff; 
        outline: none;
    }
    
    #select_system{
        margin-top: 10px;
        /*position: absolute;
        left: 0%;*/
        color: #FF6A6A;
        height: 30px;
        min-width: 15%;
        padding: 5px;
        border: 1px solid #FFF; 
        border-radius: 3px;
        background-color: white;
    }
    
    #select_system:focus{
        box-shadow: 0px 0px 15px #FFF;   /*#FFC0CB*/
        outline: none;
    }
    
    #message_user{
        /*position: absolute;
        top: 40%;
        left: 40%;*/
        width: 30%;
        background-color: #fff;
        padding: 10px 20px;
        /*margin: 0 15% 10% 0;*/
		margin: 20% auto;
        border: 1px solid #FFB6C1;
        border-radius: 2px;
        box-shadow: 0px 0px 20px #FFC0CB; 
        display: none;
		text-align: center;
		font-size: 1.1em;
		color: #FF6A6A;
    }
     
    
  
                   
        
           
            
            



